{% load static %}

<!doctype html>
<html>
	<head>
		<title>Capastr | Profile</title>
		<meta property="og:url" content="http://capastr.shardasoftwares.in" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="capastr" />
		<meta property="og:image" content="http://www.shardasoftwares.in/images/og.png" />
		<meta property="og:description" content="Capture The Trends" />	
		<link type="text/css" rel="stylesheet" href="http://cdn.jsdelivr.net/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="{% static 'home/animate.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'home/bootstrap-tagsinput.css' %}" />		
		<link type="text/css" rel="stylesheet" href="{% static 'home/home.css' %}" />
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
		
		<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript">
			$( document ).ready(function (){

			});
		</script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static 'home/jquery.inview.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'home/bootstrap-tagsinput.min.js' %}"></script>
		<style>
		ul{
			list-style-type: none;
		}
		li{
			width:70%;
			margin-bottom: 1px;
			background-color: rgb(240,240,240);
			height:30px;
			padding-top: 6px;
			padding-left: 20px;
		}
		#updatable_list li{
			cursor: pointer;
		}
		.bootstrap-tagsinput{
			width:60%;
			height: 100px;
		}
		form{
			padding-top: 10px;
		}
		input[type=text]{
			margin-left: 5px;
		}
		</style>
		<script type="text/javascript" src="{% static 'profile/profile.js' %}"></script>
		

	</head>
	<body style="background:white;font-size:12px;">
		<header id="header" style="z-index:1;">
			<br/>
			<div style="font-family:Josefin Sans;font-weight:bold;font-size:30px;margin-left:10%;">capastr</div>
		</header>		
		<br/>
		<div style="margin-right:10%;width:15%;" class="pull-right btn-group">
			<a class="btn btn-success" href="/feed/">Feed</a>
			<a class="btn btn-danger" href="/accounts/logout/">Logout</a>
		</div>
		<h4 style="color:rgb(9,46,32);margin-left:10%;">Personal Data</h4>		
		<div style="width:100%;padding-left:10%;margin-top:50px;">
				<ul id="updatable_list">
					<li id="name"><strong>Name:</strong> {{ name }}<div id="name_close" data-for="name" class="pull-right close-btn" style="margin-right:5px;font-size:18px;display: none;">&times;</div>
						<span id="name_form" style="display:none;">
							<form action="/update/name/" method="post">
							{% csrf_token %}
							<label>New Name: </label><input type="text" name="new_name" />
							<input type="submit" id="cmdName" value="Update" class="btn btn-info" />
							</form>
						</span>
					</li>
					<li id="email"><strong>Email:</strong> {{ email }}
						<div id="email_close" data-for="email" class="pull-right close-btn" style="margin-right:5px;font-size:18px;display: none;">&times;</div>

						<span id="email_form" style="display:none;">
							<form action="/update/email/" method="post">
							{% csrf_token %}
							<label>New Email: </label><input type="text" name="new_email" />
							<input type="submit" id="cmdEmail" value="Update" class="btn btn-info" />
							</form>
						</span>
					</li>
					<li id="mobile"><strong>Mobile:</strong> {{ mobile }}
						<div id="mobile_close" data-for="mobile" class="pull-right close-btn" style="margin-right:5px;font-size:18px;display: none;">&times;</div>
						<span id="mobile_form" style="display:none;">
							<form action="/update/mobile/" method="post">
							{% csrf_token %}
							<label>New Mobile: </label><input type="text" name="new_mobile" />
							<input type="submit" id="cmdMobile" value="Update" class="btn btn-info" />
							</form>
						</span>
					</li>
					<li id="tags" style="height:60px;overflow-y: scroll;"><strong>Tags:</strong> {{ raw_tags }}
						<div id="tags_close" data-for="tags" class="pull-right close-btn" style="margin-right:5px;font-size:18px;display: none;">&times;</div>
						<span id="tags_form" style="display:none;">
							<form id="tags_form_form" action="/update/tags/" method="post">
							{% csrf_token %}
							<label>New Tags: </label><input data-role="tagsinput" value="{{ raw_tags }}" type="text" name="new_tags" />
							<input type="submit" id="cmdTags" value="Update" class="btn btn-info" />
							</form>
						</span>
					</li>

				</ul>
				<ul id="non_updatable_list">
					<li id="network"><strong>Network:&nbsp;</strong><a href="/network/{{ network.id }}/">{{ network.name }}</a></li>
					<li id="total_posts"><strong>Total Posts:&nbsp;</strong> {{ total_posts }}</li>				
					<li id="max_notifications"><strong>Max Notifications:&nbsp;</strong> {{ max_notification }}</li>
					<li id="todays_notification_count"><strong>Today's Notifications Count:&nbsp;</strong> {{ todays_notification_count }}</li>
				</ul>

		</div>
		
	</body>
</html>
